<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Admin Login{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="static/css/admin_login.css">
    <link rel="shortcut icon" href="static/img/iit-logo.png"/>
</head>
<body>

    <form class="login">
        <img src="static/img/myiit.gif" alt="Logo" class="logo">
        <h2>Sign in to continue</h2>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button>Login</button>
    </form>
    {% block content %}{% endblock %}
</body>
</html>