<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link rel="stylesheet" href="static/css/auth.css">
</head>
<body>

    <form class="login">
        <img src="static/img/myiit.gif" alt="Logo" class="logo">
        <h2>Sign in to continue</h2>
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button>Login</button>
    </form>

</body>
</html>