<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!DOCTYPE html>
<html>
  <head>
    <title>ClinicBOT</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
      integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/style.css"
    />
    <link rel="shortcut icon" href="static/img/iit-logo.png"/>
  </head>

  <body>
    <div class="container-fluid h-100">

      <!-- Sidebar Toggle Button -->
      <input type="checkbox" id="custom-sidebar-toggle" class="custom-sidebar-checkbox">
      <label for="custom-sidebar-toggle" class="custom-sidebar-toggle-label">
          <span class="custom-sidebar-toggle-icon"></span>
      </label>

      <!-- Sidebar -->
      <nav class="custom-sidebar">
          <div class="custom-sidebar-header">
              <a href="https://codepen.io" target="_blank" class="custom-sidebar-title">
                  ClinicBOT
              </a>
          </div>

          <ul class="custom-sidebar-menu">
              <li><a href="#"><i class="fas fa-palette"></i> Your Work</a></li>
              <li><a href="#"><i class="fas fa-images"></i> Assets</a></li>
              <li><a href="#"><i class="fas fa-thumbtack"></i> Pinned Items</a></li>
              <!-- <hr>
              <li><a href="#"><i class="fas fa-heart"></i> Following</a></li>
              <li><a href="#"><i class="fas fa-chart-line"></i> Trending</a></li>
              <li><a href="#"><i class="fas fa-fire"></i> Challenges</a></li>
              <li><a href="#"><i class="fas fa-magic"></i> Spark</a></li> -->
              <hr>
              <li><a href="#"><i class="fas fa-gem"></i> Codepen Pro</a></li>
          </ul>

          <div class="custom-sidebar-footer">
            <div class="custom-sidebar-user">
                <div class="custom-sidebar-user-container">
                  <a href="#" target="_blank" class="custom-sidebar-user-link">
                    <img src="static/img/alab.png" alt="User Avatar">
                  </a>
                  <div class="custom-sidebar-user-info">
                      <a href="#" target="_blank">Hans</a>
                      <span>Admin</span>
                  </div>
                </div>
                <i class="fas fa-sign-out-alt logout-icon" onclick="logout()"></i>
            </div>
        </div>        
      </nav>

      <div class="row justify-content-center h-100">
        <div class="col-md-10 col-xl-8 chat"> 
          <div class="card">
            <div class="card-header msg_head">
              <div class="d-flex bd-highlight">
                <div class="img_cont">
                  <img
                    src="static/img/nurse.png"
                    class="rounded-circle user_img"
                  />
                  <span class="online_icon"></span>
                </div>
                <div class="user_info">
                  <span>ClinicBOT</span>
                  <p>I am your MSU-IIT Clinic Assistant!</p>
                </div>
              </div>
            </div>
            <div id="messageFormeight" class="card-body msg_card_body"></div>
            <div class="card-footer">
              <form id="messageArea" class="input-group">
                <input
                  type="text"
                  id="text"
                  name="msg"
                  placeholder="Type your message..."
                  autocomplete="off"
                  class="form-control type_msg"
                  required
                />
                <div class="input-group-append">
                  <button
                    type="submit"
                    id="send"
                    class="input-group-text send_btn"
                  >
                    <i class="fas fa-location-arrow"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function scrollToBottom() {
        var messageBody = document.getElementById("messageFormeight");
        messageBody.scrollTop = messageBody.scrollHeight;
      }

      function logout() {
        // Redirect to logout page or clear session
        window.location.href = "/logout"; // Update this URL based on your actual logout logic
      }
    
      $(document).ready(function () {
        $("#messageArea").on("submit", function (event) {
          event.preventDefault();
          
          const date = new Date();
          const hour = date.getHours();
          const minute = date.getMinutes();
          const str_time = hour + ":" + minute;
          var rawText = $("#text").val();
    
          var userHtml =
            '<div class="d-flex justify-content-end mb-4"><div class="msg_cotainer_send">' +
            rawText +
            '<span class="msg_time_send">' +
            str_time +
            '</span></div><div class="img_cont_msg"><img src="static/img/alab.png" alt="User Avatar" class="rounded-circle user_img_msg"></div></div>';
    
          $("#text").val("");
          $("#messageFormeight").append(userHtml);
    
          scrollToBottom();
    
          $.ajax({
            type: "POST",
            url: "/get",
            data: { msg: rawText },
            success: function (response) {
              var botHtml =
                '<div class="d-flex justify-content-start mb-4"><div class="img_cont_msg"><img src="static/img/nurse.png" class="rounded-circle user_img_msg"></div><div class="msg_cotainer">' +
                response +
                '<span class="msg_time">' +
                str_time +
                "</span></div></div>";
              $("#messageFormeight").append($.parseHTML(botHtml));
              scrollToBottom();
            },
            error: function () {
              alert("Error connecting to server.");
            },
          });
        });

      $("#custom-sidebar-toggle").change(function () {
        if ($(this).is(":checked")) {
            $(".chat").css("margin-left", "250px"); // Move right when sidebar opens
        } else {
            $(".chat").css("margin-left", "0"); // Reset when sidebar closes
        }
        });
      });
    </script>     
  </body>
</html>